### user defind function to remove punctation marks Task-a

In [26]:
def remove_punc(x):
    punc = '''!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'''
    
    str2 = ""
    
    for char in x:
        if char not in punc:
            str2 = str2 + char
            
    return str2
    
str1=input()
remove_punc(str1)

Thanks for nominating for the Airtel opportunity.  This is a great opportunity for Tech roles for ECE students.  Majorly the recruitment will take place for the Hyderabad location. They also have similar opportunities in other Southern Cities/states.

'Thanks for nominating for the Airtel opportunity  This is a great opportunity for Tech roles for ECE students  Majorly the recruitment will take place for the Hyderabad location They also have similar opportunities in other Southern Citiesstates'

### user defind function to split words and return as list Task-b

In [27]:
def word_split(y):
    
    L1 = y.split()
    return(L1)
    
str2 = Out[15]
word_split(str2)

['Thanks',
 'for',
 'nominating',
 'for',
 'the',
 'Airtel',
 'opportunity',
 'This',
 'is',
 'a',
 'great',
 'opportunity',
 'for',
 'Tech',
 'roles',
 'for',
 'ECE',
 'students',
 'Majorly',
 'the',
 'recruitment',
 'will',
 'take',
 'place',
 'for',
 'the',
 'Hyderabad',
 'location',
 'They',
 'also',
 'have',
 'similar',
 'opportunities',
 'in',
 'other',
 'Southern',
 'Citiesstates']

###  user defind function to create a dictionary Task-c

In [28]:
def word_dict(L1):
    d1 = {}
    for i in L1:
        k=L1.count(i)
        d1.update({i:k})
    return d1
x = Out[7]
y = list(x)
word_dict(y)

{'The': 1,
 'practice,': 1,
 'action,': 1,
 'or': 2,
 'system': 1,
 'of': 2,
 'inserting': 1,
 'points': 1,
 'other': 1,
 'small': 1,
 'marks': 1,
 'into': 2,
 'texts,': 1,
 'in': 1,
 'order': 1,
 'to': 1,
 'aid': 1,
 'interpretation;': 1,
 'division': 1,
 'text': 1,
 'sentences,': 1,
 'clauses,': 1,
 'etc.,': 1,
 'is': 1,
 'called': 1,
 'punctuation.': 1}

###  create a table Task-d

In [29]:
def word_freq_table(d1):

SyntaxError: incomplete input (649589850.py, line 2)