## Task 1

fname=input()
lname=input()
print(fname + " " + lname)

In [19]:
surname=lname[0].upper()
print(surname + "." + fname)

M.Madhurima

In [21]:
name = fname + " " + lname

In [22]:
name

'Madhurima Medam'

In [23]:
final = name[:15]

In [24]:
final

'Madhurima Medam'

## Task 2

In [6]:
str1 = "The computer is a miraculous scientific invention. It can store data and perform complex calculations in a very short period of time. Its primary characteristics are speed and accuracy. As a result, computers facilitate quick transactions and communication. It’s now common in schools, colleges, libraries, hospitals, offices, and banks. It is used in factories to save manual and mental labour as well as for quality control. It is also used in various fields of research, such as space research. Computer courses at various levels are now being introduced in schools and colleges. The use of computers in specific fields is required for efficient service."

In [7]:
str1

'The computer is a miraculous scientific invention. It can store data and perform complex calculations in a very short period of time. Its primary characteristics are speed and accuracy. As a result, computers facilitate quick transactions and communication. It’s now common in schools, colleges, libraries, hospitals, offices, and banks. It is used in factories to save manual and mental labour as well as for quality control. It is also used in various fields of research, such as space research. Computer courses at various levels are now being introduced in schools and colleges. The use of computers in specific fields is required for efficient service.'

In [8]:
l = len(str1)
l

657

In [9]:
import string
p = string.punctuation
p

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [11]:
lst=list(p)
lst

['!',
 '"',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 '{',
 '|',
 '}',
 '~']

In [12]:
for i in str1:
    if i in lst:
       str1 = str1.replace(i,"")

In [13]:
str1

'The computer is a miraculous scientific invention It can store data and perform complex calculations in a very short period of time Its primary characteristics are speed and accuracy As a result computers facilitate quick transactions and communication It’s now common in schools colleges libraries hospitals offices and banks It is used in factories to save manual and mental labour as well as for quality control It is also used in various fields of research such as space research Computer courses at various levels are now being introduced in schools and colleges The use of computers in specific fields is required for efficient service'

In [14]:
lst1 = str1.split()

In [19]:
print(lst1)

['The', 'computer', 'is', 'a', 'miraculous', 'scientific', 'invention', 'It', 'can', 'store', 'data', 'and', 'perform', 'complex', 'calculations', 'in', 'a', 'very', 'short', 'period', 'of', 'time', 'Its', 'primary', 'characteristics', 'are', 'speed', 'and', 'accuracy', 'As', 'a', 'result', 'computers', 'facilitate', 'quick', 'transactions', 'and', 'communication', 'It’s', 'now', 'common', 'in', 'schools', 'colleges', 'libraries', 'hospitals', 'offices', 'and', 'banks', 'It', 'is', 'used', 'in', 'factories', 'to', 'save', 'manual', 'and', 'mental', 'labour', 'as', 'well', 'as', 'for', 'quality', 'control', 'It', 'is', 'also', 'used', 'in', 'various', 'fields', 'of', 'research', 'such', 'as', 'space', 'research', 'Computer', 'courses', 'at', 'various', 'levels', 'are', 'now', 'being', 'introduced', 'in', 'schools', 'and', 'colleges', 'The', 'use', 'of', 'computers', 'in', 'specific', 'fields', 'is', 'required', 'for', 'efficient', 'service']

In [20]:
d1={}
d1

{}

In [21]:
for i in lst1:
    k=lst1.count(i)
    d1.update({i:k})
print(d1)

{'The': 2, 'computer': 1, 'is': 4, 'a': 3, 'miraculous': 1, 'scientific': 1, 'invention': 1, 'It': 3, 'can': 1, 'store': 1, 'data': 1, 'and': 6, 'perform': 1, 'complex': 1, 'calculations': 1, 'in': 6, 'very': 1, 'short': 1, 'period': 1, 'of': 3, 'time': 1, 'Its': 1, 'primary': 1, 'characteristics': 1, 'are': 2, 'speed': 1, 'accuracy': 1, 'As': 1, 'result': 1, 'computers': 2, 'facilitate': 1, 'quick': 1, 'transactions': 1, 'communication': 1, 'It’s': 1, 'now': 2, 'common': 1, 'schools': 2, 'colleges': 2, 'libraries': 1, 'hospitals': 1, 'offices': 1, 'banks': 1, 'used': 2, 'factories': 1, 'to': 1, 'save': 1, 'manual': 1, 'mental': 1, 'labour': 1, 'as': 3, 'well': 1, 'for': 2, 'quality': 1, 'control': 1, 'also': 1, 'various': 2, 'fields': 2, 'research': 2, 'such': 1, 'space': 1, 'Computer': 1, 'courses': 1, 'at': 1, 'levels': 1, 'being': 1, 'introduced': 1, 'use': 1, 'specific': 1, 'required': 1, 'efficient': 1, 'service': 1}

In [33]:
import pandas as pd

In [35]:
df=pd.DataFrame(list(d1.items()))
df

             0  1
0          The  2
1     computer  1
2           is  4
3            a  3
4   miraculous  1
..         ... ..
67         use  1
68    specific  1
69    required  1
70   efficient  1
71     service  1

[72 rows x 2 columns]

In [36]:
df.head()

            0  1
0         The  2
1    computer  1
2          is  4
3           a  3
4  miraculous  1

In [37]:
df.tail()

            0  1
67        use  1
68   specific  1
69   required  1
70  efficient  1
71    service  1