# List comparisions with if statement

In [1]:
list1=[11,12,13,14,15]
list1

[11, 12, 13, 14, 15]

In [2]:
l=len(list1)
l

5

In [3]:
list2 = [x for x in range(11,21) if x%2==0]           # list comparision with one if statement
list2

[12, 14, 16, 18, 20]

In [4]:
list3=['*' if x%2==0 else "#" for x in range(1,20)]      # list comparision with if else statement
list3

['#',
 '*',
 '#',
 '*',
 '#',
 '*',
 '#',
 '*',
 '#',
 '*',
 '#',
 '*',
 '#',
 '*',
 '#',
 '*',
 '#',
 '*',
 '#']

In [5]:
list4 = [x for x  in range(10) if  x!=0]
list4

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:

list5 = [x   for x in range(10) if x%2==0 if x%4==0]      # list comparision with multiple if statement
list5

[0, 4, 8]

# lambda function

In [8]:
# lambda function is a function which takes many values with one statements

In [21]:
c= lambda a,b : a*b
print(c(2,2))

4

In [23]:
a = lambda s1: s1.upper()
a("madhu")

'MADHU'

In [33]:
f1 = lambda a,b: a if a>b else b
f1(10,20)

20

In [34]:
l1=[2,3,1,4,6,9]
s=lambda x: sorted(x)
s(l1)

[1, 2, 3, 4, 6, 9]

## lambda function with filter()

In [35]:
# without using filter() it just returns true or false
f2 = lambda x : x%2!=0
f2(10)

False

In [42]:
# By using filter() it gives the odd elements presented in it.
# this is useful while working with lists

l1 = [99,33,22,66,11,77,99,100]
f3 = list(filter(lambda x : x%2!=0 , l1))    # filter() must contain two arguments in it, second argument it self is a data we are providing so that no need to call at last
f3

[99, 33, 11, 77, 99]

In [48]:
l2 = [1,2,3,4,5,6,7,8,9,10]
f4 = list(filter(lambda x :  x>5 , l2))    # the whole list values can't changed here
f4

[6, 7, 8, 9, 10]

## lambda function with map()

In [49]:
# whole list can be changed here 
# contains two arguments lambda function and list

In [50]:
l1 = [1,2,3,4,5]
f5 = list(map(lambda x : x*10,l1))
f5

[10, 20, 30, 40, 50]

In [58]:
f6 = list(map(lambda x : x%2, l1)) 
f6

[1, 0, 1, 0, 1]

In [57]:
s1 = ["maadhu","rima","medam"]
f7 = list(map(lambda x : x.upper(),s1))
f7

['MAADHU', 'RIMA', 'MEDAM']

## lambda function with reduce()

In [61]:
from functools import reduce
l1 = [1,2,3,4,5]
sum = reduce((lambda x,y : x-y),l1)
sum

-13

In [63]:
sum = reduce((lambda x,y : x+y),l1)
sum

15

In [64]:
sum = reduce((lambda x,y : x*y),l1)
sum

120

In [65]:
f8 = reduce((lambda x,y : x if x>y else y),l1)
f8

5

# zip()

### zip() will works on iterables  lists , tuples  .......it will pairs together

In [76]:

l1 = ("Madhurima","sindhu","ajay")
l2 = ("medam","parnati","kulla")
a=zip(l1,l2)

In [74]:
list(a)

[('Madhurima', 'medam'), ('sindhu', 'parnati'), ('ajay', 'kulla')]

In [77]:
tuple(a)

(('Madhurima', 'medam'), ('sindhu', 'parnati'), ('ajay', 'kulla'))

In [84]:
l1 = [1,2,3,4,5]
l2 = ['M','A','D']
b=zip(l1,l2)

In [85]:
tuple(b)

((1, 'M'), (2, 'A'), (3, 'D'))

In [87]:
t1 = (1,2,3,4,5)
t2 = (11,22,33,44)
t3 = ('a','b','c')
c=zip(t1,t2,t3)
list(c)

[(1, 11, 'a'), (2, 22, 'b'), (3, 33, 'c')]